<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MYBook</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

</head>

<body>
    <div class="top">
        <div class="login-wrapper">
            <div class="login-left">
                <img src="../static/images/bg.png" />
                <div class="h1">Enter the Portal</div>
            </div>
            <div class="login-right">
                <form method="POST">
                    <div style="text-align: center;" class="h2"><img src="../static/images/logo.png" width="150px" height="150px" /></div>
                    <div class="form-group">
                        <label placeholder="Email" >Email</label>
                        <input type="text" placeholder="password"/>
                    </div>
                    <div class="form-group">
                        <label placeholder="Password" >Password</label>
                        <input type="text" placeholder="password"/>
                    </div>
                    <div class="button-area">
                        <button type="submit" class="btn btn-primary" >Login </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../static/js/login.js"></script>
    <!-- <div class="copy">EimDataAvailabilty@jncb.com 2019 | Eim - Data Availability &copy; #OneTeam</div> -->
</body>

</html>