<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MyBook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home.html"><img src="../static/images/logoOnly.png" width="100px" height="50px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <form method="post" action="/profile">
            <input class="form-control mr-sm-2" type="text" placeholder="Search By User ID" aria-label="Search" name="search">
          </form>
        </li>
        <li class="nav-item">
          <form method="post" action="/group">
            <input class="form-control mr-sm-2" type="text" placeholder="Search By Group ID" aria-label="Search" name="search">
          </form>
        </li>
      </ul>
      <span class="navbar-text">
        <a href="/logout">Logout</a>
      </span>
    </div>
  </nav>
  <br/>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="navbar-brand pointer"><img src="data:;base64,{{photo}}" width="100px" height="100px" data-toggle="modal" data-target="#profilePhoto"/></div>
          </li>
          <li class="nav-item active valign">
            <a class="nav-link" href="/profile">Posts<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item valign">
            <a class="nav-link" href="/friends">Friends<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item valign">
            <a class="nav-link" href="/view_groups">Groups</a>
          </li>
        </ul>
        {% if uid != posts.user_id %}
        <span class="navbar-text">
          <form method="post" action="/profile">
            <input hidden type="text" name="friendID" value={{name[2]}} class="form-control"/>
            <select required name="friendType" onchange="this.form.submit()" type="submit" class="btn btn-success">
              <option value="" disabled selected>Add Friend</option>
              <option value="Relative">Relative</option>
              <option value="School">School</option>
              <option value="Work">Work</option>
            </select>
          </form>
        </span>
        {% endif %}
      </div>
    </nav>
    <div class="card">
      <div class="card-header">{{name[0]}} {{name[1]}}</div>
      {% if uid == posts.user_id %}
        <div class="card-body">
          <div class="row">
            <div class="col">
              <input class="comment form-control" data-toggle="modal" data-target="#postmodal" placeholder="Create a post"/>
            </div>
            <div class="col">
              <input class="comment form-control" data-toggle="modal" data-target="#postphoto" placeholder="Add a Photo"/>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="modal fade" id="postmodal" tabindex="-1" role="dialog" aria-labelledby="make a post" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post">
              <div class="modal-body">
                <textarea type="text" name="post" class="form-control" placeholder="Create a post, be free!"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="newPost">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal fade" id="postphoto" tabindex="-1" role="dialog" aria-labelledby="add a photo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post">
              <div class="modal-body">
                  <input type="file" accept="image/*" class="form-control" name="photo" placeholder="Create a post, be free!"/>
                  <input type="text" name="photoPost" class="form-control" placeholder="add text."/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="photoUpload">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% if uid == posts.user_id %}
      <div class="modal fade" id="profilePhoto" tabindex="-1" role="dialog" aria-labelledby="add a photo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post" enctype="multipart/form-data">
              <div class="modal-body">
                  <input type="file" accept="image/*" class="form-control" name="photo" placeholder="Create a post, be free!"/>
                  <input type="text" name="photoPost" class="form-control" placeholder="add text."/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="profilePhoto">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% if postResult%}
      <div class="container bottom alert alert-success alert-dismissible" role="alert">
        {{postResult}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    {% for r in posts %}
    <div class="card">
      <div class="card-header">{{r[4]}} {{r[5]}}</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{r[2]}}</p>
          <footer class="blockquote-footer"><cite title="Source Title">{{r[3]}}</cite></footer>
          <br/>
          <span class="comment" data-toggle="modal" data-target="#{{r[0]}}1">View comments</span>
          <form id="comment" action="" method="post">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="add a comment" name="comment" data-toggle="modal" data-target="#{{r[0]}}"/>
              </div>
          </form>
        </blockquote>
      </div>
      <div class="modal fade" id="{{r[0]}}" tabindex="-1" role="dialog" aria-labelledby="post comment" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Comments</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post">
              <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="add a comment" value="comment" name="comment"/>
                    <input hidden type="text" class="form-control" value="{{r[0]}}" name="postID"/>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="newComment">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="{{r[0]}}1" tabindex="-1" role="dialog" aria-labelledby="view comments" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Comments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% for i in allComments %}
              {% if r[0] == i[0] %}
                <div>{{i[2]}}</div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="/profile/page/{{page-1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% if page > 0 and page < 2 %}
        <li class="page-item"><a class="page-link" href="/profile/page/{{page-1}}">{{page-1}}</a></li>
        {% endif %}
        {% if page > 1 %}
        <li class="page-item"><a class="page-link" href="/profile/page/{{page-2}}">{{page-2}}</a></li>
        <li class="page-item"><a class="page-link" href="/profile/page/{{page-1}}">{{page-1}}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="/profile/page/{{page}}">{{page}}</a></li>
        <li class="page-item"><a class="page-link" href="/profile/page/{{page+1}}">{{page+1}}</a></li>
        <li class="page-item"><a class="page-link" href="/profile/page/{{page+2}}">{{page+2}}</a></li>
        <li class="page-item"><a class="page-link" href="/profile/page/{{page+3}}">{{page+3}}</a></li>
        <li class="page-item">
          <a class="page-link" href="/profile/page/{{page+1}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright: MyBook.com </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>
</html>