.card{
    margin-bottom: 2em;
}
.pagination{
    text-align: center!important;
}
.card-img-top {
    height: 2em;
}
.comment{
    font-size: 80%;
    cursor: pointer;
    /* color: #6c757d; */
}
.pointer{
    cursor: pointer!important;
}
.header{
    font-weight: bold;
}
.valign{
   padding-top: 4.8em;
}